<header class="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div ng-controller="HeaderCtrl" class="container-fluid">
                <a class="brand" href="/">&nbsp;Scrapper</a>
                <ul class="nav pull-right">
                    <li class="dropdown" ng-class="{open: open}">
                        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks icon-white"></i></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>